/*
  #####
 #     #  ####  #####  ###### #####   ####   ####  #####
 #       #    # #    # #      #    # #    # #    # #    #
 #       #    # #    # #####  #    # #      #    # #####
 #       #    # #    # #      #####  #      #    # #    #
 #     # #    # #    # #      #   #  #    # #    # #    #
  #####   ####  #####  ###### #    #  ####   ####  #####
                                                        */

h1{
    font-family: 'Titillium Web', sans-serif;
    color: #7c7f7f;
    font-size: 30px;

}

p{
font-family: 'Titillium Web', sans-serif;
font-size: 12px;

}

/*img{

    padding-top: 10px;
    size:75%;
}
*/
body{
    background-color: : #7c7f7f;
    min-height:150%;

}
html {
  height: 150%;
}
.navigation-bar {
position: fixed;
top: 0;
left: 0;
width: 100%;
color: #898989;
height: 50px;



text-align: center;
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}
.navigation-bar > a {
font-family: "Helvetica", sans-serif;
font-size: 16px;
padding-left: 15px;
padding-right: 15px;
color: #7c7f7f;
text-decoration: none;
display: inline-block;
vertical-align: top;
height: 50px;
line-height: 50px;
vertical-align: middle;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    height: 50px;
    float: left;
    padding-top: 0px;
    top: 0;
    z-index: 2;
    position:relative;

    /*margin-right: 20px;
    margin-top: 15px;
    */
  }
.logo:hover{
  background-color: grey;
  color: black;


}

.navigation-bar > a:hover {
color: black;
background-color: grey;
}
section{
position: fixed;
top:0;
left:0;

}

#footer{
    width: 100%;
    position: fixed;
    text-align: 'center';
    padding: 1px 0;
    background: #000;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    font-family: "Helvetica", Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #7c7f7f;
    text-transform: uppercase;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

}

a {
  color: #7c7f7f;
}

.infobox {
  float: left;
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid black;
}

/*
.placeholder {
  height: 1%;
  width: 1%;
}
*/
