/*
  #####
 #     #  ####  #####  ###### #####   ####   ####  #####
 #       #    # #    # #      #    # #    # #    # #    #
 #       #    # #    # #####  #    # #      #    # #####
 #       #    # #    # #      #####  #      #    # #    #
 #     # #    # #    # #      #   #  #    # #    # #    #
  #####   ####  #####  ###### #    #  ####   ####  #####
                                                        */

h1{
    font-family: 'Titillium Web', sans-serif;
    color: yellow;
    font-size: 30px;

}

p{
font-family: 'Titillium Web', sans-serif;
font-size: 12px;

}

img{

    padding-top: 15px;
    size:75%;
}

body{
    background-color: : white;
}
#navigation {
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 35px;
padding-top: 15px;
text-align: center;
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}
#navigation a {
font-family: "Verdana", sans-serif;
font-size: 16px;
padding-left: 15px;
padding-right: 15px;
color: yellow;
text-decoration: none;
}
#navigation img {
  height: 20px;
  width:40px;


#navigation a:hover {
color: grey;
}
