

h1{
    font-family: 'Titillium Web', sans-serif;
    background-image: linear-gradient(to right, red, green);
    color: yellow;
    font-size: 30px;

}

p{
font-family: 'Titillium Web', sans-serif;
font-size: 12px;

img{

    padding-top: 15px;
    size:75%;
}

body{
    background-image: linear-gradient(to left, red, blue);
}
